<div class="card border-primary mb-3">
  <div class="card-header">Categories</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List  categories</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/categories/form']">
        Create Category
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>
            Edit
          </th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.idcategory }}</td>
          <td>{{ category.name }}</td>
          <td>
            <button type="button" name="edit" [routerLink]="['/categories/form', category.idcategory]" class="btn btn-primary btn-sm">edit</button>
          </td>
          <td>
            <button type="button" name="delete" (click)='delete(category)' class="btn btn-danger btn-sm">delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
