<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="category.name" name="name">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!category.idcategory else elseBlock">Create</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Edit</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
