<div class="card border-primary mb-3">
    <div class="card-header">Products</div>
    <div class="card-body text-primary">
        <h5 class="card-title">List Products</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/products/form']">
        Create Product
      </button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Price</th>
                    <th>
                        Edit
                    </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.idproduct }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <button type="button" name="edit" [routerLink]="['/products/form', product.idproduct]" class="btn btn-primary btn-sm">edit</button>
                    </td>
                    <td>
                        <button type="button" name="delete" (click)='delete(product)' class="btn btn-danger btn-sm">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>